<?xml version="1.0"?>
<tryton>
    <data>
        <record model="ir.ui.view" id="shortened_url_view_list">
            <field name="model">web.shortened_url</field>
            <field name="type">tree</field>
            <field name="name">shortened_url_list</field>
        </record>

        <record model="ir.ui.view" id="shortened_url_view_form">
            <field name="model">web.shortened_url</field>
            <field name="type">form</field>
            <field name="name">shortened_url_form</field>
        </record>

        <record model="ir.action.act_window" id="act_shortened_url">
            <field name="name">Shortened URLs</field>
            <field name="res_model">web.shortened_url</field>
        </record>
        <record model="ir.action.act_window.view" id="act_shortened_url_view1">
            <field name="sequence" eval="10"/>
            <field name="view" ref="shortened_url_view_list"/>
            <field name="act_window" ref="act_shortened_url"/>
        </record>
        <record model="ir.action.act_window.view" id="act_shortened_url_view2">
            <field name="sequence" eval="20"/>
            <field name="view" ref="shortened_url_view_form"/>
            <field name="act_window" ref="act_shortened_url"/>
        </record>

        <menuitem parent="ir.menu_administration" action="act_shortened_url" id="menu_shortened_url_form"/>

        <record model="ir.model.access" id="access_shortened_url">
            <field name="model" search="[('model', '=', 'web.shortened_url')]"/>
            <field name="perm_read" eval="True"/>
            <field name="perm_write" eval="False"/>
            <field name="perm_create" eval="False"/>
            <field name="perm_delete" eval="False"/>
        </record>
        <record model="ir.model.access" id="access_shortened_url_group_admin">
            <field name="model" search="[('model', '=', 'web.shortened_url')]"/>
            <field name="group" ref="res.group_admin"/>
            <field name="perm_read" eval="True"/>
            <field name="perm_write" eval="True"/>
            <field name="perm_create" eval="True"/>
            <field name="perm_delete" eval="True"/>
        </record>

    </data>
</tryton>
