<?xml version="1.0"?>
<!-- This file is part of Tryton.  The COPYRIGHT file at the top level of
this repository contains the full copyright notices and license terms. -->
<tryton>
    <data>
        <record model="ir.ui.view" id="shop_view_form">
            <field name="model">web.shop</field>
            <field name="inherit" ref="web_shop.shop_view_form"/>
            <field name="name">shop_form</field>
        </record>

        <record model="ir.cron" id="cron_update">
            <field name="method">web.shop|vsf_update</field>
            <field name="interval_number" eval="1"/>
            <field name="interval_type">days</field>
        </record>
    </data>
</tryton>
